.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


* {
	box-sizing: border-box;
}

body {
	background: url("../images/spaceNeedle.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	height: 600px;
	font-family: 'Fjalla One', sans-serif;
}

header {
	background-color: white;
	padding: 15px;
	border-bottom: 2px solid black;
}

h1 {
	color: gray;
	font-size: 30px;
	text-decoration: none;
	margin-left: 50px;
}

a:visited {
	text-decoration: none;
}

nav{
	text-align: right;
	padding-bottom: 10px;
}

nav a {
	color: gray;
	text-decoration: none;
	margin: 10px;
}

nav a.find-link {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

p {
	margin: 20px;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	font-style: italic;
	text-decoration: none;
}


section {
	padding: 20px;
	text-decoration: none;
}

aside {
	width: 35%;
	background: rgba(255, 255, 255, .5);
	border: 3px solid black;
	padding: 30px 20px;
	margin: 20px;
	float: right;
}

h3 {
	font-size: 30px;
	font-weight: 600;
}

.separation {
	height: 250px;
	background: #F0F0F0;
	opacity: 0.4;
	padding: 10px;
}


.box {
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
	text-align: left;
}

.CTA {
	background: #FFFF66;
	text-decoration: none;
	color: black;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	padding: 10px 30px;
	border-radius: 5px;
	border-bottom: 2px solid #E6E65C;
}

.finders {
	background: white;
}

.finders article {
	width: 33%;
	border-right: 2px solid gray;
	float: left;
	padding: 15px;
}

.finders article #last {
	border: transparent;
}

.finders h4 {
	font-size: 25px;
	font-weight: 600;
}

.finders article p {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	text-align: left;
}

.finders a {
	background-color: #d0d0d0;
	border-bottom: 2px solid #888888;
	text-align: center;
	padding: ;
}

footer {
	background: white;
	background-size: cover;
	height: 60px;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 20px;
}

.hamburger {
	display: none;
}

.mobile_footer {
	display: none;
}


@media (max-width: 768px) {
	nav {
		display: none;
	}
	h1 {
		font-size: 2rem;
		text-align: center;
	}
	.separation {
	height: 100px;
	background: #F0F0F0;
	opacity: 0.4;
	padding: 10px;
}
	
	.hamburger {
		display: block;
		border-top: 2px solid black;
		width: 20px;
		float: right;
		margin: 20px;
		position: relative;
	}
	.hamburger::after {
		content: '';
		top: -10px;
		position: absolute;
		width: 20px;
		border-top: 2px solid black;
	}
	.hamburger::before {
		content: '';
		width: 20px;
		top: 6px;
		position: absolute;
		border-top: 2px solid black;
	}

	.hambuger-link {
		cursor: pointer;
		width: 30px;
		height: 30px;
		position: absolute;
		top: 25px;
		right: 25px;
	}

	.finders article {
		clear: both;
		display: block;
		width: 97%;
		border: none;
		text-align: center;
	}

	.CTA {
		clear: both;
		width: 50%;
		text-align: center;
		display: block;
		margin: auto;
	}

	article {
		display: block;
		height: 200px;
		margin-bottom: 50px;
		text-align: center;
	}

	.mobile_footer {
		display: block;
	}

}

@media (max-width: 960px){

}

@media (max-width: 1024px) {
	
}