.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


* {
	box-sizing: border-box;
	font-family: 'Josefin Slab', serif;

}

#slideshow, img.bgM {
	min-height: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index:-9999;
}


body {
	background: url("../images/br1.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	height: 600px;
	font-family: 'Josefin Slab', serif;
}

header {
	background-color: white;
	padding: 15px;
	border-bottom: 2px solid black;
}

h1 {
	color: gray;
	text-decoration: none;
	margin: 0 auto;
	text-align: center;
}

h2 {
	font-size: 26px;
	text-align: center;
}

h3 {
	font-size: 22px;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 10px;
}

.logo {
	display: block;
	margin: 0 auto;
}


a { text-decoration: none; color: gray; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

#navigation {
position: fixed;
top: 0;
width: 95%;
color: #ffffff;
height: 35px;
text-align: center;
padding-top: 15px;
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
background-color: rgba(255, 255, 255, .8);
color: rgba(255, 255, 255, .8);
}
#navigation a {
font-size: 18px;
padding-left: 15px;
padding-right: 15px;
color: rgba(69, 69, 69);
text-decoration: none;
}

#navigation a:hover {
color: gray;
} 

#navigationMobile {
	display: none;
}

p {
	margin: 20px;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	font-style: italic;
	text-decoration: none;
}


section {
	padding: 20px;
	text-decoration: none;
	background-color: white;
}

.separation {
	height: 250px;
	background: #F0F0F0;
	opacity: 0.4;
	padding: 10px;
}


.box {
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
	text-align: left;
}

.CTA {
	background: #FFFF66;
	text-decoration: none;
	color: #454545;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Josefin Slab', serif;
	font-weight: 700;
	padding: 10px 30px;
	border-radius: 5px;
	border-bottom: 2px solid #E6E65C;
}



.finders {
	background: white;
	text-align: center;
	color: gray;
	padding-bottom: 25px;
}

.finders article {
	display: block;
	width: 33%;
	border-right: 2px solid gray;
	float: left;
	padding: 15px;
	text-align: center;
}

.finders #last {
	border: none;
}

.finders h4 {
	font-size: 25px;
	font-weight: 600;
}

.finders article p {
	font-family: 'Josefin Slab', serif;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	text-align: center;
}

.finders a {
	background-color: #d0d0d0;
	border-bottom: 2px solid #888888;
	text-align: center;
	padding: ;
}

#workSection {
	display: block;
	position: center;
}

#workSection img {
	width: 24%;
	background: cover;
	padding: 10px 7px;
	margin: 0 auto;
}

.About {
	background-color: white;
	color: gray;
	font-size: 26px;
	font-weight: 400;
	text-decoration: none;
	text-align: center;
}

.Siri,
.Antonia {
	display: block;
	width: 50%;
	float: left;
	font-size: 12px;
}

.img-circle {
    border-radius: 50%;
}

.Siri p,
.Antonia p {
	font-family: 'Josefin Slab', serif;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	text-align: center;
}

.About h4 {
	font-size: 22px;
}

.whoLink {
	background-color: #E0E0E0;
	color: gray;
	font-size: 14px;
	font-weight: 400;
	padding: 5px;
	border-radius: 10%;
	border: 1px solid #6B6B6B;
}

.Contact {
	background-color: white;
	color: gray;
	display: block;
	text-align: center;
	font-size: 18px;
}

.contact-form {
	display: block;
}

.inputText {
	font-size: 15px;
}

.inputText .contactInput {
	width: 40%;
}

#message .inputText {
	font-size: 15px;
}

textarea {
	margin: 10px;
	width: 50%;
}

form {
	text-align: center;
}

.submitButton {
	font-size: 18px;
	background-color: gray;
	color: white;
	padding: 5px 2px 2px 2px;
	border-radius: 15%;
}

.blog h2 {
	text-align: center;
	color: gray;
}

#blog-articles {
	width: 100%;
	margin-top: 20px;
}

.blog h3 {
	color: gray;
}

#blog-articles p {
	font-size: 18px;
	width: 250px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px;
	margin: 0 auto;
}

footer {
	clear: both;
	background: white;
	background-size: cover;
	color: white;
	font-family: 'Josefin Slab', serif;
	font-size: 15px;
	font-weight: 400;
	padding: 20px;
	margin: 0 auto;
}

.footerText {
	display: block;
	color: gray;
	padding: 0;
	margin: 0 auto;
}

.footerContact {
	display: block;
	float: right;
	margin-top: 15px;
	margin-right: 10%;
	font-size: 20px;
	background-color: #E8E8E8;
	padding: 5px;
}

.hamburger {
	display: none;
}

.mobile_footer {
	display: none;
}


@media (max-width: 768px) {

	#slideshow, img.bgM {
	min-height: 100%;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index:-9999;
	}

	#navigation {
		display: none;
	}

	#navigationMobile {
		display: block;
		position: fixed;
		top: 0;
		width: 95%;
		color: #ffffff;
		height: 35px;
		text-align: center;
		padding-top: 15px;
		/* Adds shadow to the bottom of the bar */
		-webkit-box-shadow: 0px 0px 8px 0px #000000;
		-moz-box-shadow: 0px 0px 8px 0px #000000;
		box-shadow: 0px 0px 8px 0px #000000;
		/* Adds the transparent background */
		background-color: rgba(255, 255, 255, .8);
		color: rgba(255, 255, 255, .8);
	}
		#navigation a {
		font-size: 18px;
		padding-left: 15px;
		padding-right: 15px;
		color: rgba(69, 69, 69);
		text-decoration: none;
	}

	#navigation a:hover {
		color: gray;
	} 

	h1 {
		display: block;
		font-size: 2rem;
		text-align: center;
	}
	.separation {
		height: 100px;
		background: #F0F0F0;
		opacity: 0.4;
		padding: 10px;
	}

	.finders article {
		clear: both;
		display: block;
		width: 97%;
		border: none;
		text-align: center;
	}

	.finders article p {
		text-align: center;
	}

	.CTA {
		clear: both;
		width: 50%;
		text-align: center;
		display: block;
		margin: auto;
	}

	article {
		display: block;
		text-align: center;
	}

	p {
		text-align: center;
	}

	#workSection img {
		display: block;
		background: cover;
		width: 75%;
		clear: both;
		margin: 0 auto;

	}

	.Siri,
	.Antonia {
		display: block;
		width: 100%;
		clear: both;
		text-align: center;
		margin: 0 auto;
	}

	.Antonia {
		margin-top: 50px;
	}

	.mobile_footer {
		display: block;
		text-align: center;
		width: 100%;
	}

	.blog h2 {
		text-align: center;
		color: gray;
	}

	#blog-articles {
		display: block;
		width: 100%;
		text-align: center;
	}

	.blog h3 {
		color: gray;
	}

	#blog-articles p {
		font-size: 18px;
		width: 250px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

}

@media (max-width: 960px){

}

@media (max-width: 1024px) {
	
}