.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


* {
	box-sizing: border-box;
	font-family: 'PT Sans Narrow', sans-serif;

}

#slideshow, img.bgM {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}


body {
	background: url("../images/br1.jpg");
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	height: 600px;
	font-family: 'Fjalla One', sans-serif;
}

header {
	background-color: white;
	padding: 15px;
	border-bottom: 2px solid black;
}

h1 {
	color: gray;
	font-size: 30px;
	text-decoration: none;
	margin-left: 50px;
}

.logo {
	display: block;
	margin: 0 auto;
}


a { text-decoration: none; color: gray; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

#navigation {
position: fixed;
top: 0;
width: 95%;
color: #ffffff;
height: 35px;
text-align: center;
padding-top: 15px;
/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
background-color: rgba(100, 98, 96.8);
color: rgba(1, 1, 1, .8);
}
#navigation a {
font-size: 18px;
padding-left: 15px;
padding-right: 15px;
color: rgba(69, 69, 69);
text-decoration: none;
}

#navigation a:hover {
color: gray;
} 

p {
	margin: 20px;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	font-style: italic;
	text-decoration: none;
}


section {
	padding: 20px;
	text-decoration: none;
	background-color: white;
}

h3 {
	font-size: 30px;
	font-weight: 600;
}

.separation {
	height: 250px;
	background: #F0F0F0;
	opacity: 0.4;
	padding: 10px;
}


.box {
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
	text-align: left;
}

.CTA {
	background: #FFFF66;
	text-decoration: none;
	color: #454545;
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	padding: 10px 30px;
	border-radius: 5px;
	border-bottom: 2px solid #E6E65C;
}

.finders {
	background: white;
	text-align: center;
	color: gray;
	padding-bottom: 25px;
}

.finders article {
	width: 33%;
	border-right: 2px solid gray;
	float: left;
	padding: 15px;
}

.finders article #last {
	border: transparent;
}

.finders h4 {
	font-size: 25px;
	font-weight: 600;
}

.finders article p {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	text-align: left;
}

.finders a {
	background-color: #d0d0d0;
	border-bottom: 2px solid #888888;
	text-align: center;
	padding: ;
}

#workSection {
	display: block;
	position: center;
}

#workSection img {
	width: 24%;
	height:210px;
	padding: 10px 7px;
	margin: 0 auto;
}

.About {
	background-color: white;
	color: gray;
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	text-align: center;
}

.Siri,
.Antonia {
	display: block;
	width: 50%;
	float: left;
	font-size: 12px;
}

.img-circle {
    border-radius: 50%;
}

.Siri p,
.Antonia p {
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	text-align: center;
}

.Contact {
	background-color: white;
	color: gray;
	display: block;
	text-align: center;
}

.contact-form {
	display: block;
}

textarea {
	margin: 10px;
}

form {
	text-align: center;
}

.blog h2 {
	text-align: center;
	color: gray;
}

#blog-articles {
	display: block;
	width: 100%;
	text-align: center;
}

.blog h4 {
	font-size: 15px;
	color: gray;
}

#blog-articles p {
	font-size: 12px
}
footer {
	clear: both;
	background: white;
	background-size: cover;
	color: white;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	font-weight: 400;
	padding: 20px;
}

.hamburger {
	display: none;
}

.mobile_footer {
	display: none;
}


@media (max-width: 768px) {
	nav {
		display: none;
	}
	h1 {
		display: block;
		font-size: 2rem;
		text-align: left;
	}
	.separation {
	height: 100px;
	background: #F0F0F0;
	opacity: 0.4;
	padding: 10px;
}
	
	.hamburger {
		display: block;
		border-top: 2px solid black;
		width: 20px;
		float: right;
		margin: 20px;
		position: relative;
	}
	.hamburger::after {
		content: '';
		top: -10px;
		position: absolute;
		width: 20px;
		border-top: 2px solid black;
	}
	.hamburger::before {
		content: '';
		width: 20px;
		top: 6px;
		position: absolute;
		border-top: 2px solid black;
	}

	.hambuger-link {
		cursor: pointer;
		width: 30px;
		height: 30px;
		position: absolute;
		top: 25px;
		right: 25px;
	}

	.finders article {
		clear: both;
		display: block;
		width: 97%;
		border: none;
		text-align: center;
	}

	.CTA {
		clear: both;
		width: 50%;
		text-align: center;
		display: block;
		margin: auto;
	}

	article {
		display: block;
		height: 200px;
		margin-bottom: 50px;
		text-align: center;
	}

	p {
		text-align: center;
	}

	#workSection img {
		display: block;
		width: 300px;
		height: 200px;
		clear: both;
		margin: 0 auto;

	}

	.Siri,
	.Antonia {
		display: block;
		width: 100%;
		clear: both;
		text-align: center;
		margin: 0 auto;
	}

	.Antonia {
		margin-top: 50px;
	}

	.mobile_footer {
		display: block;
		text-align: center;
		width: 100%;
	}

}

@media (max-width: 960px){

}

@media (max-width: 1024px) {
	
}