.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

header {
	background: url(images/SSimage.pdf);
	background-size: cover;
	text-align: center;
	padding: 45px;
}
